<!DOCTYPE html>
<html ng-app="browserBand">
<head>
	<title>Band In a Browser</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="lib/Base64.js"></script>
	<script type="text/javascript" src="lib/Base64binary.js"></script>
	<script type="text/javascript" src="lib/WebAudioAPI.js"></script>
	<script type="text/javascript" src="lib/WebMIDIAPI.js"></script>
	<script type="text/javascript" src="lib/MIDI.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-controller="MainController">
	<header class="container">
		<h3 class="row">Band in a Browser</h3>
		<form class="row form-inline">
			<div class="form-group">
				<label for="numMeasures">Measures</label>
				<input type="number" class="form-control" id="numberMeasures" ng-model="numMeasures" ng-model-options="{ updateOn: 'blur' }" />
			</div>
			<div class="form-group">
				<label for="tempo">Tempo</label>
				<input type="number" class="form-control" id="tempo" ng-model="tempo" />
			</div>
			<div class="form-group">
				<label for="timeSignature">Time Signature</label>
				<input type="number" class="form-control" id="timeSignature" ng-model="timeSignature" ng-model-options="{ updateOn: 'blur' }" />
			</div>
		</form>
	</header>
	<section class="container">
		<div class="row" ng-repeat="measure in measures">
			<label>{{$index + 1}}:&nbsp;</label>
			<input type="text" ng-class="{ 'current': highlight[0] == $parent.$index && highlight[1] == $index }"
				ng-repeat="chord in measure track by $index" ng-model="measures[$parent.$index][$index]" />
		</div>
		<div class="row">
			<button class="btn btn-success" ng-click="play()">Play</button>
			<button class="btn btn-danger" ng-click="stop()">Stop</button>
		</div>
	</section>
</body>
</html>
