<!DOCTYPE html>
<html ng-app="browserBand">
<head>
	<title>Band In a Browser</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="lib/Base64.js"></script>
	<script type="text/javascript" src="lib/Base64binary.js"></script>
	<script type="text/javascript" src="lib/WebAudioAPI.js"></script>
	<script type="text/javascript" src="lib/WebMIDIAPI.js"></script>
	<script type="text/javascript" src="lib/MIDI.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-controller="MainController">
	<p>Enter some chords!</p>
	<p>Measures:
		<input ng-model="numMeasures" ng-model-options="{ updateOn: 'blur' }" />
	</p>
	<div ng-repeat="measure in measures">
		<input ng-repeat="chord in measure track by $index" ng-model="measures[$parent.$index][$index]" />
	</div>
	<button ng-click="play()">Play</button>
	<button ng-click="stop()">Stop</button>
</body>
</html>
